Voice assistance.json
{
  "name": "Voice assistance",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        5024,
        -1136
      ],
      "id": "6c675e4b-43ed-4d91-9be6-63166d46d575",
      "name": "Telegram Trigger",
      "webhookId": "5dc36ab3-3261-43cf-8052-fb5610932fea",
      "credentials": {
        "telegramApi": {
          "id": "XPso30MLPEGFmhnI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        5136,
        -832
      ],
      "id": "5bd42293-1748-41ee-9b1c-e433d8566da8",
      "name": "Transcribe a recording",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3024729f-9c19-45ac-9e9a-ad344ee11763",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "weather",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bfd08cb6-d505-46b5-8ca2-dc526e489893",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "temperature",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "efd0802b-7d90-4a91-9f19-1d989350d4ef",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "forecast",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5840,
        -864
      ],
      "id": "d3eaac9c-7c38-424a-a57c-de031ca3734e",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33179c6b-d40d-46a3-947c-ebc00d452e5b",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "remind",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "91e85acd-d1d7-4432-b51d-dddf2e3d5001",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "reminder",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "db23d119-eab6-4f16-9739-52f54587ec7c",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "to do",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5c421771-191e-41dd-8c18-3cbbe933c74d",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "task",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5520,
        -848
      ],
      "id": "cd344225-02a2-48ea-8421-e36eaf437988",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d70f794-8e64-48b5-9fea-d3f5511cf7c5",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "contains",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "74b8f91d-4d0a-4a21-9753-aec1a7c0d8e0",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "search",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5603fb0e-4ce4-4334-852c-8dec47c64771",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "what is ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c79edd9d-08f2-47a5-b28a-39b673f2197d",
              "leftValue": "={{$json[\"text\"]}}",
              "rightValue": "who is",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5328,
        -832
      ],
      "id": "d96d68eb-5e82-417b-b1d6-787e8d8e2838",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        5296,
        -528
      ],
      "id": "9eba00d1-5cee-47b0-ad36-e56423c5f9fd",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5200,
        -416
      ],
      "id": "687f1e93-0d9e-47d0-85c9-ec22538aaccf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        5616,
        -528
      ],
      "id": "544cab8b-1bd0-4129-9b85-19e59e4e95b1",
      "name": "Summarization Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5568,
        -400
      ],
      "id": "23ebb539-f64b-4321-8793-5c4a1309bbae",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        5952,
        -528
      ],
      "id": "6f413a0f-52c2-4651-a595-75ab2d6f32f6",
      "name": "Summarization Chain2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        5904,
        -384
      ],
      "id": "30f38cbb-d69d-47c8-9c98-ab5ca351d841",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        6176,
        -880
      ],
      "id": "6afde4eb-393f-45ea-ab59-86e8d0390754",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6208,
        -592
      ],
      "id": "1e4bea5d-3f85-42ea-a503-7f7dde4b4700",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        6384,
        -624
      ],
      "id": "12d305b9-b6d7-42f5-a99a-e7422c30aaed",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "5MQQlm1WSB0nVPoB",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=summary"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6304,
        -432
      ],
      "id": "a981d0c7-c37e-4c86-a450-a75ead0fcdd8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "London"
            },
            {
              "name": "appid",
              "value": "061492f449d83f80b5b8068eb9526510"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        6528,
        -560
      ],
      "id": "38e18edc-d28a-4c2e-89e6-456a3c305c1e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        6512,
        -864
      ],
      "id": "ba92151c-ebbd-4e9c-9a40-1408168a425c",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "FiG5sAJgJmbM86wf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6720,
        -864
      ],
      "id": "0ecb5fb5-8993-4e7c-af6c-4e25fc986c54",
      "name": "Send an audio file",
      "webhookId": "8a1e59f1-962a-439b-8878-f545a631b142",
      "credentials": {
        "telegramApi": {
          "id": "XPso30MLPEGFmhnI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "e15757ad-9c26-4318-9acb-dab72b045d99",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4960,
        -832
      ],
      "webhookId": "cb46fff0-ea16-42b5-a7c3-4ae70069f148",
      "credentials": {
        "telegramApi": {
          "id": "XPso30MLPEGFmhnI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b32436a-d6b0-420b-93a7-ee5b904eb4d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c09216b58fff158301a7d435a72633728facec3d5edf560a51f651eafaa6355c"
  },
  "id": "4xshxNWrEeEHaftp",
  "tags": []
}